/* Header.css */
.header {

    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; /* Center the text horizontally */
    display: flex;
    justify-content: center; /* Center the entire header horizontally */
    align-items: center; /* Center the text vertically */
  }
  